<div *ngIf="loaded">
  <button class="btn-primary btn btn-sm" (click)="save()">Save </button>
  <button class="btn-secondary btn btn-sm" (click)="cancel()">Cancel </button>
  MapUrl <input [(ngModel)]="map.mapUrl">
  Num X <input (keydown)="keyEvent($event, 'numX')" [(ngModel)]="map.numX">
  Num Y<input (keydown)="keyEvent($event, 'numY')" [(ngModel)]="map.numY">
  X <input (keydown)="keyEvent($event, 'x')" [(ngModel)]="map.x">
  Y<input (keydown)="keyEvent($event, 'y')" [(ngModel)]="map.y">
  A <input (keydown)="keyEvent($event, 'a')" [(ngModel)]="map.a">
  B <input (keydown)="keyEvent($event, 'b')" [(ngModel)]="map.b">
  C <input (keydown)="keyEvent($event, 'c')" [(ngModel)]="map.c">
  Width <input (keydown)="keyEvent($event, 'mapWidth')" [(ngModel)]="map.mapWidth">
  Perfect Hexes<input type="checkbox" [(ngModel)]="map.perfectHexes">
  Is Default <input type="checkbox" [(ngModel)]="map.isDefault">
  True Rows<input type="checkbox" [(ngModel)]="map.trueRows">
  Game Name <input [(ngModel)]="map.gameName">
  Scenario Name <input [(ngModel)]="map.scenarioName">

</div>
<htn-hex-map [map]="map" [mapId]="mapId"></htn-hex-map>
